# Project exclude paths
/.gradle/
/build/
/core/build/
*.hprof
/.idea/
/mobile/build/generated/
/mobile/build/intermediates/
/mobile/build/kotlin/
/mobile/build/kotlinToolingMetadata/
/mobile/build/outputs/logs/
/mobile/build/outputs/sdk-dependencies/
/mobile/build/tmp/
